/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';






.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.container_left {
  display: flex;
  justify-content: left;
  margin: 2rem;
}

.site_index {
  border: 1px solid black;
  text-align: center;
}

.top_row_buttons {
  padding:1em;
}

.bottom_row_buttons {
  padding:3em;
}

/*4 buttons on the landing page*/
.btn_l {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 2px 1px 2px #614f61;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  background: #34d968;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3cd6;
  text-decoration: none;
}

.form {
  border: 2px solid black;
  max-width: 25rem;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  justify-content: flex-start;

  }

// sets the size for the body of the jots new form
  #text_area {
    min-width: 30rem;
    min-height: 10rem;
    margin-right: 2rem;
  }

.int_show {
  padding: 4rem;
  border: 2px solid red;
  max-width: 30rem;
  margin: 2rem auto;
}

// sets the styling for the box on the jots new view
.jot_nw {
  padding: 4rem;
  border: 2px solid green;
  min-width: 25rem;
  max-width: 30rem;
  margin: 2rem auto;
  z-index: 1;

}


.each_jot_index {
  border: 2px dashed red;
}

.jot_index_view {
  text-align: left;
}
